$bg-dark:#0f0f0f;
$bg-light:#ebebebeb;
$text-color-dark: #c2c2c2;
$text-color-light:#1a1a1a;
$bg-calc-dark:#151515;
$primary-color: #ff3c39;
$bg-key-container-dark:#1A1A1A;
$bg-key-container-light:#fff;
$bg-equel-box--shadow:#ff403948;
$bg-lighten-dark:#ffffff5e;
$bg-lighten-light:#1a1a1a69;
$bg-key-hover:#2f2f2f;
$calc-color-light:#a3a3a3;